<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>rain Tomorrow </title>
    <style>
        body {
    background-color: #0fd3dd;
    font-family: 'Poppins', sans-serif;
}
.form {
    background-color: white;
    width: 70vw;
    margin: 60px auto;
    padding: 20px 50px;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    border-radius: 12px;
}
.form h1 {
    color: #0fd3dd;
}

.button {
    padding: 5px 30px;
    font-size: 18px;
}
#prediction-form{
	display: flex;
	align-items: center;
	justify-content: center;
}
    </style>

</head>
<!--
fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol
        -->

<body>
    <section id="prediction-form">


    <div>
        <h1>
                    <form action="/predict"> <button style="margin-top: 40vh; border-radius: 20px;">Predict Tomorrow Rain</button></form>

        </h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>